pkgbase = xinux-i3-manager
	pkgdesc = A i3 setting manager for Alter Linux
	pkgver = 1.51
	pkgrel = 2
	url = https://github.com/FascodeNet/alterlinux-i3-manager
	arch = x86_64
	arch = i686
	license = GPLv3
	makedepends = clang
	makedepends = cmake
	makedepends = qt5-tools
	depends = qt5-base
	depends = doxygen
	source = https://github.com/FascodeNet/alterlinux-i3-manager/archive/1.51.zip
	md5sums = ca144e3192bf5ae1f0b345adfb290012

pkgname = xinux-i3-manager
